body {
    font-family: Arial, sans-serif;
}
.table td, .table th {
    vertical-align: middle;
}
#wrapper {
    display: flex;
    width: 100%;
}
#sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper{
    flex: 1;
}
